/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/* Navbar toggle styles */
.navbar-toggle {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar-toggle-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: relative;
  transform: rotate(0deg);
  transition: .3s ease-in-out;
}

.navbar-toggle-icon:before,
.navbar-toggle-icon:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  transition: .3s ease-in-out;
}

.navbar-toggle-icon:before {
  transform: translateY(-8px);
}

.navbar-toggle-icon:after {
  transform: translateY(8px);
}

.navbar-toggle.active .navbar-toggle-icon {
  transform: rotate(45deg);
}

.navbar-toggle.active .navbar-toggle-icon:before {
  transform: rotate(45deg) translateX(-3px) translateY(3px);
}

.navbar-toggle.active .navbar-toggle-icon:after {
  transform: rotate(-45deg) translateX(-3px) translateY(-3px);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-container {
    flex-direction: column;
  }

  .navbar-item {
    margin: 10px 0;
  }

  .navbar-toggle-icon:before {
    transform: rotate(45deg) translateY(0);
  }

  .navbar-toggle-icon:after {
    transform: rotate(-45deg) translateY(0);
  }

  .navbar-toggle.active .navbar-toggle-icon:before {
    transform: rotate(45deg) translateX(0) translateY(3px);
  }

  .navbar-toggle.active .navbar-toggle-icon:after {
    transform: rotate(-45deg) translateX(0) translateY(-3px);
  }

  .navbar-toggle.active .navbar-toggle-icon {
    transform: rotate(90deg);
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    margin: 0;
  }

  .navbar-item {
    margin: 0;
  }

  .navbar-item a {
    font-size: 20px;
    margin: 10px 20px;
  }
}
